.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 25px;
}

.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .jumbotron {
    border-bottom: 0;
  }
}

h2,
h3 {
  margin-top: 0;
}

.shopsContainer {
  margin-top: 20px;
  margin-bottom: 25px;
}

.cardNumber,
.cardBody {
  display: inline-block;
  vertical-align: middle;
}

.cardNumber {
  font-size: 36px;
  margin-right: 15px;
  height: 100%;
}

.shopCard {
  padding: 15px;
  background-color: #e4fe98;
  border: 1px solid #afea02;
  margin-bottom: 20px;
}

.addingPanel input[type="text"] {
  width: 75%;
  height: 2em;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.addingPanel button {
  background-color: #edfeb9;
  width: 75%;
}

.addingPanel button.btn-info {
  background-color: #5bc0de;
}

th {
  background-color: #dcf3fd;
}

.shopsList {
  font-size: 21px;
}

@media (max-width: 750px) {
  .shopCard {
    padding-left: 40px;
    padding-right: 40px;
  }
  .addingPanel input[type="text"], .addingPanel button {
    width: 100%;
  }
  .shopsContainer {
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  .shopsContainer {
    padding: 0;
  }
  .shopCard {
    padding-left: 15px;
    padding-right: 15px;
  }
}