<div class="jumbotron">
  <div class="container">
    <h1>Hello!</h1>
    <p>This application is about shops. It contains info about:</p>
    <ul class="shopsList">
      <li ng-repeat="shop in shops">{{ shop.name }}</li>
    </ul>

    <p>© Maria Peredriy, 2015</p>
    <small>This page exists to show main navigation collapse.</small>
  </div>
</div>