<h2>Shop list</h2>
<div class="row shopsContainer">

  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="row" ui-sortable ng-model="shops">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="shop in shops">
        <div class="shopCard">
          <button class="btn close cardClose" ng-click="removeShop($index)">&times;</button>
          <div class="cardNumber">{{ shops.indexOf(shop) + 1 }}</div>
          <div class="cardBody">
            <div class="cardHeader">
              <h3>{{ shop.name }}</h3>
            </div>
            <div>
              {{ shop.address }}
              <br /> {{ shop.hours }}
              <br />
              <a href="/products/{{ shop.id }}">View {{ shop.products.length }} products</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="addingPanel">
      <div>
        <input type="text" ng-model="newShop.name" placeholder="Shop name" />
      </div>
      <div>
        <input type="text" ng-model="newShop.address" placeholder="Shop address" />
      </div>
      <div>
        <input type="text" ng-model="newShop.hours" placeholder="Shop hours" />
      </div>
      <div>
        <button class="btn btn-lg" type="button" ng-disabled="!newShop.name || !newShop.address || !newShop.hours" ng-click="addShop()">Add Shop</button>
      </div>



    </div>
  </div>

</div>
</div>
</div>