<h2>{{ shop.name }}</h2>
<div class="row">
  <div class="col-lg-9 col-md-9">

    <table class="table table-hover table-bordered">
      <tr>
        <th class="col-lg-4">Product Name</th>
        <th class="col-lg-7">Product Description</th>
        <th class="col-lg-1"></th>
      </tr>
      <tr ng-repeat="product in shop.products">
        <td> {{ product.name }} </td>
        <td> {{ product.description }} </td>
        <td>
          <button class="btn close cardClose" ng-click="removeProduct($index)">Delete</button>
        </td>
      </tr>


    </table>
  </div>

  <div class="col-lg-3 col-md-3 addingPanel">
    <input type="text" ng-model="newProduct.name" placeholder="Product name" />

    <input type="text" ng-model="newProduct.description" placeholder="Product description" />

    <button class="btn btn-info type=" button " ng-disabled="!newProduct.name || !newProduct.description " ng-click="addProduct() ">Add Shop</button>
      </div>
      
     </div>